@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
	display: block;
	width: 100%;
	padding-bottom: 40px;
	position: relative;
}
@media only screen and (min-width: 991px) {
	.header {
		width: calc(100% + 40px);
		margin-left: -20px;
	}
}
.text-logo {
	float: left;
}
.text-logo a {
	display: block;
	outline: 0;
}
.text-logo a:focus {
	outline: 0;
}
.logo-symbol {
	float: left;
	width: 44px;
	height: 44px;
	line-height: 44px;
	background-color: #7066ff;
	border-radius: 100px;
	text-align: center;
	color: #fff;
	font-size: 28px;
	font-weight: 800;
	margin-right: 8px;
	margin-top: 4px;
}
.logo-text {
	float: left;
	line-height: 50px;
	font-size: 20px;
	color: #222;
	font-weight: 600;
}
.logo-text span {
	font-weight: 400;
}
.site-nav {
	float: right;
}
.site-main-menu {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 99;
}
.site-main-menu li {
	display: inline-block;
	position: relative;
	color: #333;
	text-decoration: none;
	margin-right: 40px;
}
.site-main-menu li:last-child {
	margin-right: 0;
}
.site-main-menu li a {
	color: #333;
	text-decoration: none;
	line-height: 50px;
	font-size: 15px;
	opacity: 0.55;
}
.site-main-menu li.current-menu-item > a,
.site-main-menu li:hover > a {
	opacity: 1;
}
@media only screen and (min-width: 992px) {
	.site-main-menu li:hover > .sub-menu {
		visibility: visible;
		opacity: 1;
		top: 100%;
	}
	.site-main-menu li:last-child > .sub-menu {
		left: auto;
		right: 0;
	}
}
.page-title {
	display: block;
	position: relative;
	background-color: #fdfdfd;
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
	padding: 65px 70px;
	margin-right: -70px;
	margin-left: -70px;
	margin-bottom: 65px;
	text-align: left;
}
.page-title h1 {
	font-size: 40px;
	margin: 0;
}
.block-title h2 {
	display: inline-block;
	position: relative;
	font-size: 21px;
	margin: 0 0 30px;
	z-index: 1;
	padding-bottom: 7px;
}
.block-title h2:after {
	display: block;
	position: absolute;
	content: "";
	width: 30px;
	background-color: #7066ff;
	height: 2px;
	bottom: 0;
}
.block-title h2:before {
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	background-color: #f5f5f5;
	height: 2px;
	bottom: 0;
}
.block-title h3 span {
	color: #7066ff;
}
.info-list {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.info-list li {
	margin: 6px 0;
	text-align: left;
}
.info-list li .title {
	display: inline-block;
	font-weight: 600;
	margin-right: 15px;
	font-family: Poppins, Helvetica, sans-serif;
}
.info-list li .title:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #7066ff;
}
.info-list li .value {
	display: inline-block;
}
.social-links-block {
	margin: 25px 0 5px;
}
ul.social-links {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
ul.social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.social-links li a {
	display: inline-block;
	margin: 0 1px 5px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	color: #9e9e9e;
	background-color: transparent;
	border: 1px solid #e0e0e0;
	text-align: center;
	vertical-align: middle;
}
ul.social-links li a:hover {
	color: #212121;
}
ul.social-links li a i {
	font-size: 16px;
	line-height: 32px;
}
ul.social-links li a img {
	vertical-align: text-bottom;
	line-height: 100%;
}
ul.social-links li:last-child a {
	margin-right: 0;
}
.info-block-w-icon {
	position: relative;
	text-align: left;
	width: 100%;
	display: table;
	margin: 0;
	padding: 0 10px 30px 0;
}
.info-block-w-icon .ci-icon {
	position: relative;
	display: table-cell;
	padding: 0 10px 5px 0;
	width: 44px;
}
.info-block-w-icon .ci-text {
	position: relative;
	display: table-cell;
	padding: 0 0 0 15px;
	vertical-align: middle;
}
.info-block-w-icon .ci-text h4 {
	margin: 7px 0;
}
.info-block-w-icon .ci-text p {
	font-size: 0.92em;
}
.info-block-w-icon .ci-text p:last-child {
	margin-bottom: 0;
}
.info-block-w-icon i {
	position: relative;
	display: table-cell;
	font-size: 33px;
	color: #7066ff;
}
.info-block-w-icon img {
	position: relative;
	max-width: 54px;
}
.client-block {
	text-align: center;
	padding: 5px 0;
	margin-bottom: 30px;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.client-block:hover {
	opacity: 1;
}
.client-block img {
	max-width: 80px;
	margin: 0 auto;
}
.projects.owl-carousel .client-block {
	padding: 10px 15px 15px;
	margin-bottom: 15px;
}
.projects.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	max-width: 100px;
}
.projects.owl-carousel .owl-dots {
	position: relative;
	width: 100%;
	text-align: center;
}
.projects.owl-carousel .owl-dot {
	display: inline-block;
	margin: 3px 0;
}
.projects.owl-carousel .owl-dot span {
	display: block;
	height: 3px;
	background-color: #d5d5d5;
	border-radius: 3px;
	margin: 4px;
	width: 20px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.projects.owl-carousel .owl-dot.active span,
.projects.owl-carousel .owl-dot:hover span {
	background-color: #7066ff;
}
.projects.owl-carousel .owl-dot.active span {
	background-color: #7066ff;
	width: 30px;
}
.lm-info-block {
	position: relative;
	text-align: center;
	width: 100%;
	display: block;
	margin: 0 0 15px;
	background: #fff;
	padding: 25px 10px 15px;
	border: 2px solid #e5e5e5;
	border-radius: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.lm-info-block:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
	-o-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
	box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
}
.lm-info-block.gray-bg {
	background-color: #fcfcfc;
}
.lm-info-block h4 {
	font-size: 16px;
	margin: 15px;
}
.lm-info-block i {
	position: relative;
	font-size: 33px;
	color: #7066ff;
	margin-bottom: 6px;
	width: 33px;
	height: 33px;
}
.lm-info-block .lm-info-block {
	font-size: 24px;
	font-weight: 400;
	display: block;
	margin: 10px 0;
	color: #7066ff;
}
.lm-info-block-value {
	color: #d5d5d5;
	font-size: 48px;
	line-height: 52px;
	display: block;
	margin: 15px 0 10px;
}
.lm-info-block-text {
	display: block;
}
.projects.owl-carousel .owl-nav {
	position: absolute;
	text-align: right;
	right: 0;
	bottom: 5px;
}
.projects.owl-carousel .owl-nav .owl-prev {
	margin-right: 3px;
}
.projects.owl-carousel .owl-nav .owl-next,
.projects.owl-carousel .owl-nav .owl-prev {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.projects.owl-carousel .owl-nav .owl-next:hover,
.projects.owl-carousel .owl-nav .owl-prev:hover {
	color: #fff;
	background-color: #7066ff;
	border-color: #7066ff;
}
.projects.owl-carousel .owl-nav .owl-next:before,
.projects.owl-carousel .owl-nav .owl-prev:before {
	position: relative;
	margin: 2px;
	width: 22px;
	height: 22px;
	font-family: FontAwesome;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	display: block;
	cursor: pointer;
}
.projects.owl-carousel .owl-nav .owl-prev:before {
	content: "\f104";
}
.projects.owl-carousel .owl-nav .owl-next:before {
	content: "\f105";
}
.single-page-content .content-area {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: auto;
	min-height: 100%;
}
.single-post .site-content .post-content {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #fff;
	z-index: 1;
}
.site-content .entry-header {
	margin-left: 50px;
	margin-right: 50px;
}
.site-content.single-post {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.site-content.single-post .post-content {
	position: relative;
	z-index: 1;
}
.entry-header {
	position: relative;
	z-index: 1;
}
.entry-title {
	font-size: 32px;
	line-height: 1.3;
	margin: 15px 0 20px 0;
}
.entry-title a {
	color: inherit;
}
.entry-title a:hover {
	color: #7066ff;
}
.site-content .entry-header {
	padding: 5px 0 0;
}
.entry-content,
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
	margin-top: 0;
}
.entry-content a:hover,
.page-content a:hover {
	text-decoration: none;
}
.page-links {
	clear: both;
	font-size: 12px;
	font-weight: 300;
	line-height: 2;
	margin: 24px 0;
}
.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 1px 2px 0;
	text-align: center;
	width: 22px;
	border-radius: 5px;
}
.page-links a:hover {
	background: #7066ff;
	border: 1px solid #7066ff;
	color: #fff;
}
.page-links > .page-links-title {
	height: auto;
	margin: 0;
	padding-right: 7px;
	width: auto;
}
.nav-links {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.site-footer {
	display: block;
	position: relative;
	margin: 60px -70px -60px;
	padding: 15px 45px;
	background-color: #fdfdfd;
	border-top: 2px solid #f2f2f2;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.footer-social {
	float: left;
}
.site-footer .footer-social-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-footer .footer-social-links li {
	display: inline-block;
	margin-right: 25px;
}
.site-footer .footer-social-links li:last-child {
	margin-right: 0;
}
.site-footer .footer-social-links li a {
	color: #333;
	text-decoration: none;
	line-height: 21px;
	font-size: 14px;
	opacity: 0.6;
}
.site-footer .footer-social-links li a:hover {
	opacity: 1;
}
.footer-copyrights {
	float: right;
}
.footer-copyrights p {
	line-height: 21px;
	font-size: 13px;
	margin: 0;
}
@media only screen and (max-width: 1320px) {
	.page-container {
		max-width: 94%;
	}
}
@media only screen and (min-width: 991px) {
	.header::-webkit-scrollbar,
	.single-page-content::-webkit-scrollbar,
	body::-webkit-scrollbar {
		position: absolute;
		width: 5px;
		margin-left: -5px;
	}
	.header::-webkit-scrollbar-track,
	.single-page-content::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track {
		background-color: #fff;
	}
	.header::-webkit-scrollbar-thumb,
	.single-page-content::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb {
		background-color: #d5d5d5;
	}
}
@media only screen and (max-width: 991px) {
	.mobile-visible {
		display: block;
		visibility: visible;
	}
	.page-container {
		border-radius: 0;
		margin: 0;
		max-width: 100%;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		padding: 52px 40px 60px;
	}
	.page-title {
		padding: 30px 40px;
		margin-right: -40px;
		margin-left: -40px;
		margin-bottom: 40px;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		padding: 0;
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
	}
	.header-content {
		z-index: 999;
		background-color: #fff;
		padding: 10px 20px;
	}
	.header.animate {
		-webkit-transition: all 0.44s ease-in-out;
		-moz-transition: all 0.44s ease-in-out;
		-o-transition: all 0.44s ease-in-out;
		-ms-transition: all 0.44s ease-in-out;
		transition: all 0.44s ease-in-out;
	}
	.mobile-menu-hide {
		width: 0;
		right: 0;
		margin-right: -100%;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.site-nav {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: #fff;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		max-width: 320px;
		height: calc(100% - 52px);
		left: auto;
		top: 52px;
		z-index: -1;
		opacity: 1;
		overflow: auto;
		visibility: visible;
		-webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		-ms-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	.site-nav.animate {
		-webkit-transition: all 0.44s ease-in-out;
		-moz-transition: all 0.44s ease-in-out;
		-o-transition: all 0.44s ease-in-out;
		-ms-transition: all 0.44s ease-in-out;
		transition: all 0.44s ease-in-out;
	}
	.site-main-menu li {
		display: block;
		margin: 0 30px;
	}
	.site-main-menu li a {
		display: block;
	}
	.logo-symbol {
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 18px;
		margin-top: 0;
	}
	.logo-text {
		display: inline-block;
		line-height: 32px;
		font-size: 18px;
	}
	.menu-toggle {
		display: inline-block;
		float: right;
		line-height: 32px;
		font-size: 21px;
		color: #333;
	}
	.mobile-header {
		position: fixed;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #f5f5f5;
		left: 0;
		right: 0;
		height: 50px;
		z-index: 1002;
	}
	.mobile-logo-container {
		margin: 0 20px;
		text-align: left;
	}
	.mobile-site-title {
		display: inline-block;
		float: left;
		color: #222;
		font-size: 18px;
		font-weight: 600;
		font-family: Poppins, Helvetica, sans-serif;
		margin: 0;
		line-height: 50px;
	}
	.mobile-site-title a,
	.mobile-site-title a:focus,
	.mobile-site-title a:hover {
		color: #222;
	}
	.single-page-content {
		padding-left: 0;
		margin-left: 0;
	}
	.page-content,
	.single-page-content .content-area .page-content,
	.single-post .single-page-content .content-area {
		padding: 0;
	}
	.single-page-content .content-area {
		display: block;
	}
	.page-title h1 {
		margin: 0;
	}
	.single-post .site-content .post-content {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media only screen and (min-width: 768px) {
	.fw-container {
		width: auto;
	}
}
@media only screen and (max-width: 768px) {
	.info-list {
		margin-top: 20px;
	}
	.fw-container {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.single-post .site-content .post-content,
	.site-content .entry-header {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.single-post .site-content .post-content {
		position: relative;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		z-index: 1;
	}
	.footer-copyrights,
	.footer-social {
		float: none;
		display: block;
		text-align: center;
		margin: 12px 0;
	}
}
@media only screen and (max-width: 480px) {
	.entry-title {
		font-size: 27px;
	}
}
.logo-text {
	color: #fff;
}
.block-title h2:before {
	background-color: #353535;
}
.lm-info-block {
	background-color: #333;
	border-color: #444;
}
.header .social-links a {
	background-color: #444;
	color: #aaa;
}
.info-block-w-icon i {
	color: #aaa;
}
.lm-info-block.gray-bg {
	background-color: #353535;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}
p {
	color: #e5e5e5;
}
.section-title {
	color: #555;
}
.btn-primary {
	color: #fff;
	background-color: #333;
	box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
}
.home-page-block h2 {
	color: #ff724c;
}
.info-list li .title {
	color: #fff;
}
.info-list li .value {
	color: #eee;
}
ul.social-links li a {
	display: inline-block;
	width: 34px;
	height: 34px;
	color: #e5e5e5;
	background-color: transparent;
	border: 1px solid #555;
	text-align: center;
}
ul.social-links li a:hover {
	color: #fff;
	background-color: #ff724c;
	border-color: transparent;
}
.theme-style-dark .projects.owl-carousel .owl-nav .owl-next,
.theme-style-dark .projects.owl-carousel .owl-nav .owl-prev {
	background-color: #555;
	border-color: #333;
}
.projects.owl-carousel .owl-dot span {
	background-color: #454545;
}
.mobile-header {
	background-color: #222;
	border-color: #444;
}
.mobile-header .mobile-site-title {
	color: #fff;
}
.page-title {
	color: #777;
}
@media only screen and (max-width: 991px) {
	.menu-toggle i,
	.mobile-site-title a,
	.mobile-site-title a:focus,
	.mobile-site-title a:hover {
		color: #f5f5f5;
	}
	.header-content,
	.site-nav {
		background-color: #222;
	}
}
.theme-style-dark .home-photo {
	background-color: #444;
	border: 18px solid #333;
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 1421px) {
	.page-container:not(.full-width-container) {
		max-width: 1320px;
		border-radius: 40px;
	}
}
@media only screen and (max-width: 1420px) and (min-width: 991px) {
	.page-container:not(.full-width-container) {
		max-width: 94%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 40px;
	}
}
@media only screen and (min-width: 991px) {
	.site-footer {
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
	}
}
body,
p {
	font-family: Poppins, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.75em;
	color: #d5d5d5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #f5f5f5;
}
.logo-symbol,
.logo-text {
	font-family: Poppins, Helvetica, sans-serif;
}
h1 {
	font-size: 32px;
	color: #f5f5f5;
}
h2 {
	font-size: 24px;
	color: #f5f5f5;
}
h3 {
	font-size: 18px;
	color: #f5f5f5;
}
h4 {
	font-size: 16px;
	color: #f5f5f5;
}
h5 {
	font-size: 14px;
	color: #f5f5f5;
}
h6 {
	font-size: 12px;
	color: #f5f5f5;
}
.info-list li .title {
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #f5f5f5;
}
.mobile-site-title {
	font-family: Poppins, Helvetica, sans-serif;
}
.btn-primary {
	font-family: Poppins, Helvetica, sans-serif;
}
body {
	background-color: #007ced;
}
.block-title h2:after,
.btn-primary:focus,
.btn-primary:hover,
.projects.owl-carousel .owl-dot.active span,
.projects.owl-carousel .owl-dot:hover span,
.projects.owl-carousel .owl-nav .owl-next:hover,
.projects.owl-carousel .owl-nav .owl-prev:hover,
.header .social-links a:hover,
.info-list li .title:after,
.logo-symbol {
	background-color: #007ced;
}
.block-title h3 span,
.entry-title a:hover,
.info-block-w-icon i,
.lm-info-block i,
.site-title span,
a {
	color: #007ced;
}
a {
	color: #09c;
}
a:hover {
	color: #069;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.projects.owl-carousel .owl-nav .owl-next:hover,
.projects.owl-carousel .owl-nav .owl-prev:hover,
.logo-symbol,
.page-links a:hover {
	border-color: #007ced;
}
.page-title {
	background-color: #252525;
	border-top-color: #333;
	border-bottom-color: #333;
}
.page-title h1 {
	color: #f5f5f5;
	font-size: 44px;
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0;
}
@media only screen and (max-width: 991px) {
	.page-title h1 {
		font-size: 35.2px;
	}
}
.page-container {
	background-color: #222;
}
.site-main-menu li a,
.site-main-menu li a:hover {
	font-family: Poppins, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	color: #f5f5f5;
	letter-spacing: 0;
}
.site-main-menu > li > a {
	line-height: 3.3em;
}
.site-footer {
	background-color: #252525;
	border-color: #333;
}
.footer-copyrights p {
	color: #ddd;
}
.site-footer .footer-social-links li a {
	color: #ddd;
}
body {
	position: initial;
}
.start-page-full-width {
	width: calc(100% + 200px);
	margin-left: -100px;
}
.start-page-full-width .row {
	margin-right: 0;
	margin-left: 0;
}
.start-page-full-width .inner-content {
	height: 100%;
	min-height: 100%;
}
.start-page-full-width .hp-text-block {
	position: relative;
	padding: 70px 15%;
	background-color: #fcfcfc;
	height: 100%;
	min-height: 100px;

	p {
		font-size: 14px;
		color: #eee;
	}
}
.start-page-full-width .inner-content .fill-block {
	position: relative;
	width: 40vw;
	height: 40vw;
	left: 50%;
	transform: translateX(-50%);
	margin: 20px;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and (min-width: 768px) {
	.start-page-full-width {
		width: calc(100% + 400px) !important;
		margin-left: -200px !important;

		p {
			font-size: 17px !important;
		}
	}
	.start-page-full-width .inner-content .fill-block {
		height: 100% !important;
		min-height: 300px !important;
		width: 100% !important;
		left: 0 !important;
		transform: translateX(0) !important;
		margin: 0 !important;
		border-radius: 0;
	}
	.start-page-half-width {
		width: calc(100% + 225px) !important;
		margin-left: -140px !important;
	}
}

.hp-main-title {
	font-size: 48px;
	line-height: 1.2em;
	margin-top: 5px;
	margin-bottom: 15px;
}
.hp-buttons {
	margin-top: 30px;
}
.start-page-full-width div[class^="col-"] {
	padding: 0 !important;
}
.start-page .title-block {
	position: relative;
	text-align: center;
}
.start-page .title-block h2 {
	color: #fff;
	font-size: 70px;
	margin: 0;
	text-align: center;
}
.start-page-content .social-links {
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}
.start-page-content .social-links a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 24px;
	background-color: #fff;
	margin: 0 1px;
	color: #9e9e9e;
	text-align: center;
	-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}
.start-page-content .social-links a:hover {
	-webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
}
.start-page-content .social-links a i {
	line-height: 36px;
	font-size: 16px;
}
.start-page-content .block-title h3 {
	margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
	.inner-text-block .hp-text-block {
		-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.11);
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.11);
	}
	.inner-text-block:not(.text-reverse) {
		position: relative;
		padding: 50px 70px 50px 0;
		margin-left: -70px;
		z-index: 1;
	}
	.inner-text-block.text-reverse {
		position: relative;
		padding: 50px 0 50px 70px;
		margin-right: -70px;
		z-index: 1;
	}
	.inner-text-block-2:not(.text-reverse) {
		margin-left: 0;
		padding: 50px 0px 50px 0;
	}
}
#content-title .start-page-full-width .hp-text-block {
	background-color: #333;
}
#content-background .start-page-full-width .hp-text-block {
	background: url("../../img/free/BGDefault.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 400px;
}
#content-title .hp-main-title {
	color: #f5f5f5;
}
#content-title .hp-text-block li,
#content-title .hp-text-block p,
#content-title .hp-text-block span {
	color: #d5d5d5;
}
#content-title .start-page-full-width .inner-content .fill-block {
	background: #333;
}
.fw-divider-space {
	clear: both;
	width: 100%;
}
.fw-divider-space.space-sm {
	height: 30px;
}
.fw-divider-space.space-md {
	height: 60px;
}
.fw-divider-space.space-lg {
	height: 100px;
}

.header {
	display: block;
	width: 100%;
	padding-bottom: 40px;
	position: relative;
}
@media only screen and (min-width: 991px) {
	.header {
		width: calc(100% + 40px);
		margin-left: -20px;
	}
}
.text-logo {
	float: left;
}
.text-logo a {
	display: block;
	outline: 0;
}
.text-logo a:focus {
	outline: 0;
}
.logo-symbol {
	float: left;
	width: 44px;
	height: 44px;
	line-height: 44px;
	background-color: #7066ff;
	border-radius: 100px;
	text-align: center;
	color: #fff;
	font-size: 28px;
	font-weight: 800;
	margin-right: 8px;
	margin-top: 4px;
}
.logo-text {
	float: left;
	line-height: 50px;
	font-size: 20px;
	color: #222;
	font-weight: 600;
}
.logo-text span {
	font-weight: 400;
}
.site-nav {
	float: right;
}
.site-main-menu {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 99;
}
.site-main-menu li {
	display: inline-block;
	position: relative;
	color: #333;
	text-decoration: none;
	margin-right: 40px;
}
.site-main-menu li:last-child {
	margin-right: 0;
}
.site-main-menu li a {
	color: #333;
	text-decoration: none;
	line-height: 50px;
	font-size: 15px;
	opacity: 0.55;
}
.site-main-menu li:hover > a {
	opacity: 1;
}
@media only screen and (min-width: 992px) {
	.site-main-menu li:hover > .sub-menu {
		visibility: visible;
		opacity: 1;
		top: 100%;
	}
	.site-main-menu li:last-child > .sub-menu {
		left: auto;
		right: 0;
	}
}
ul.social-links {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
ul.social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.social-links li a {
	display: inline-block;
	margin: 0 1px 5px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	color: #9e9e9e;
	background-color: transparent;
	border: 1px solid #e0e0e0;
	text-align: center;
	vertical-align: middle;
}
ul.social-links li a:hover {
	color: #212121;
}
ul.social-links li a i {
	font-size: 16px;
	line-height: 32px;
}
ul.social-links li:last-child a {
	margin-right: 0;
}
.details-page-nav {
	text-align: right;
	float: right;
	margin-bottom: 10px;
}
.details-page-nav > div.nav-item {
	position: relative;
	display: inline-block;
	margin: 0 3px;
}
.details-page-nav > div.nav-item a {
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #888;
	background-color: #fafafa;
	border-radius: 5px;
}
.details-page-nav > div.nav-item a:hover {
	background-color: #7066ff;
	color: #fff;
}
.details-page-nav > div.nav-item a i {
	line-height: 40px;
	font-size: 22px;
}
img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
figure {
	max-width: 100%;
}
.hidden {
	display: none;
	visibility: hidden;
}
.portfolio-grid {
	margin-left: -8px;
	margin-right: -8px;
}
.portfolio-grid figure {
	width: 33.33333%;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 8px;
	border-radius: 12px;
}
.portfolio-grid img {
	position: relative;
	display: block;
	width: 100%;
}
.portfolio-grid.three-columns figure {
	width: calc(33.33333% - 16px);
}
.portfolio-grid img {
	position: relative;
	display: block;
	width: 100%;
}
.portfolio-grid figure a {
	display: block;
	position: relative;
}
.portfolio-grid figure img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure:hover img {
	transform: scale(1.2);
}
.portfolio-grid figure a {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 3;
}
.portfolio-item-img {
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	border-radius: 8px;
}
.portfolio-grid figure .portfolio-item-img:after {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.06);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure:hover .portfolio-item-img:after {
	opacity: 1;
}
.portfolio-grid figure i {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 16px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure .name {
	display: inline-block;
	padding: 4px 10px;
	margin: 0;
	color: #333;
	background-color: #fff;
	font-size: 14px;
	top: 20px;
	left: 20px;
	max-width: calc(100% - 67px);
	border-radius: 5px;
	position: absolute;
}
.portfolio-grid figure .category {
	display: inline-block;
	padding: 3px 7px;
	background-color: #fff;
	color: #222;
	font-size: 11px;
	line-height: 1.2em;
	bottom: 20px;
	left: 20px;
	position: absolute;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure:hover .category,
.portfolio-grid figure:hover i {
	opacity: 1;
}
.details-page-title {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
}
.details-page-title h1 {
	display: inline-block;
	margin: 0;
}
.portfolio-page-page-content img {
	max-width: 100%;
}
.details-page-content .embed-video,
.portfolio-page-image,
.portfolio-page-video {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}
.post-content .embed-video {
	margin: 40px 0;
}
.post-categories {
	display: inline-block;
	margin: 0 0 7px;
	padding: 0;
	list-style: none;
}
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
	margin-top: 0;
}
.page-content a:hover {
	text-decoration: none;
}
.gallery {
	display: inline-block;
	margin-bottom: 20px;
}
.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width: calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width: calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}
.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item:nth-of-type(2n + 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n + 1),
.gallery-columns-4 .gallery-item:nth-of-type(4n + 1),
.gallery-columns-5 .gallery-item:nth-of-type(5n + 1),
.gallery-columns-6 .gallery-item:nth-of-type(6n + 1),
.gallery-columns-7 .gallery-item:nth-of-type(7n + 1),
.gallery-columns-8 .gallery-item:nth-of-type(8n + 1),
.gallery-columns-9 .gallery-item:nth-of-type(9n + 1) {
	clear: left;
}
@media only screen and (max-width: 1320px) {
	.portfolio-grid figure {
		width: calc(33.33333% - 16px);
	}
}
@media only screen and (min-width: 991px) {
	.details-page-content::-webkit-scrollbar,
	body::-webkit-scrollbar {
		position: absolute;
		width: 5px;
		margin-left: -5px;
	}
	.details-page-content::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track {
		background-color: #fff;
	}
	.details-page-content::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb {
		background-color: #d5d5d5;
	}
}
@media only screen and (max-width: 991px) {
	.page-title {
		padding: 30px 40px;
		margin-right: -40px;
		margin-left: -40px;
		margin-bottom: 40px;
	}
	.page-content {
		padding: 0;
	}
	.page-title h1 {
		margin: 0;
	}
}
@media only screen and (max-width: 768px) {
	.portfolio-grid figure {
		width: calc(50% - 16px);
	}
	.portfolio-grid figure,
	.portfolio-grid.three-columns figure {
		width: calc(50% - 16px);
	}
}
@media only screen and (max-width: 480px) {
	.portfolio-grid figure,
	.portfolio-grid.three-columns figure {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.portfolio-grid {
		margin-left: 0;
		margin-right: 0;
	}
}

.portfolio-grid figure .category,
.portfolio-grid figure .name {
	color: #f5f5f5;
	background-color: #222;
}
.portfolio-grid figure i {
	background-color: #222;
}
.details-page-content {
	background-color: #222;
}
.page-title {
	color: #777;
}
.single-page-content .content-area {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: auto;
	min-height: 100%;
}
.single-post .site-content .post-content {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #fff;
	z-index: 1;
}
.blog-post-page {
	height: auto;
}
.blog-post-content {
	position: relative;
	background-color: #fff;
	padding: 30px;
	margin: -50px 40px 0;
}
.site-content.single-post {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.site-content.single-post .post-content {
	position: relative;
	z-index: 1;
}
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
	margin-top: 0;
}
.page-content a:hover {
	text-decoration: none;
}
.page-links {
	clear: both;
	font-size: 12px;
	font-weight: 300;
	line-height: 2;
	margin: 24px 0;
}
.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 1px 2px 0;
	text-align: center;
	width: 22px;
	border-radius: 5px;
}
.page-links a:hover {
	background: #7066ff;
	border: 1px solid #7066ff;
	color: #fff;
}
.nav-links {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.site-footer {
	display: block;
	position: relative;
	margin: 60px -70px -60px;
	padding: 15px 45px;
	background-color: #fdfdfd;
	border-top: 2px solid #f2f2f2;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.footer-social {
	float: left;
}
.site-footer .footer-social-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-footer .footer-social-links li {
	display: inline-block;
	margin-right: 25px;
}
.site-footer .footer-social-links li:last-child {
	margin-right: 0;
}
.site-footer .footer-social-links li a {
	color: #333;
	text-decoration: none;
	line-height: 21px;
	font-size: 14px;
	opacity: 0.6;
}
.site-footer .footer-social-links li a:hover {
	opacity: 1;
}
.footer-copyrights {
	float: right;
}
.footer-copyrights p {
	line-height: 21px;
	font-size: 13px;
	margin: 0;
}
@media only screen and (max-width: 1320px) {
	.page-container {
		max-width: 94%;
	}
}
@media only screen and (min-width: 991px) {
	.header::-webkit-scrollbar,
	.details-page-content::-webkit-scrollbar,
	.single-page-content::-webkit-scrollbar,
	body::-webkit-scrollbar {
		position: absolute;
		width: 5px;
		margin-left: -5px;
	}
	.header::-webkit-scrollbar-track,
	.details-page-content::-webkit-scrollbar-track,
	.single-page-content::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track {
		background-color: #fff;
	}
	.header::-webkit-scrollbar-thumb,
	.details-page-content::-webkit-scrollbar-thumb,
	.single-page-content::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb {
		background-color: #d5d5d5;
	}
}
@media only screen and (max-width: 991px) {
	.mobile-visible {
		display: block;
		visibility: visible;
	}
	.page-container {
		border-radius: 0;
		margin: 0;
		max-width: 100%;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		padding: 52px 40px 60px;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		padding: 0;
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
	}
	.header-content {
		z-index: 999;
		background-color: #fff;
		padding: 10px 20px;
	}
	.mobile-menu-hide {
		width: 0;
		right: 0;
		margin-right: -100%;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.site-nav {
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: #fff;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		max-width: 320px;
		height: calc(100% - 52px);
		left: auto;
		top: 52px;
		z-index: -1;
		opacity: 1;
		overflow: auto;
		visibility: visible;
		-webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.08);
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		-ms-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	.site-main-menu li {
		display: block;
		margin: 0 30px;
	}
	.site-main-menu li a {
		display: block;
	}
	.logo-symbol {
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 18px;
		margin-top: 0;
	}
	.logo-text {
		display: inline-block;
		line-height: 32px;
		font-size: 18px;
	}
	.menu-toggle {
		display: inline-block;
		float: right;
		line-height: 32px;
		font-size: 21px;
		color: #333;
	}
	.mobile-header {
		position: fixed;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #f5f5f5;
		left: 0;
		right: 0;
		height: 50px;
		z-index: 1002;
	}
	.mobile-logo-container {
		margin: 0 20px;
		text-align: left;
	}
	.single-page-content {
		padding-left: 0;
		margin-left: 0;
	}
	.page-content,
	.single-page-content .content-area .page-content,
	.single-post .single-page-content .content-area {
		padding: 0;
	}
	.single-fw-details .single-page-content .content-area {
		padding: 0;
	}
	.single-page-content .content-area {
		display: block;
	}
	.single-post .site-content .post-content {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media only screen and (min-width: 768px) {
	.fw-container {
		width: auto;
	}
}
@media only screen and (max-width: 768px) {
	.blog-post-content {
		padding: 0;
		margin: 30px 0 0;
	}
	.fw-container {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.single-post .site-content .post-content {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.single-post .site-content .post-content {
		position: relative;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		z-index: 1;
	}
	.footer-copyrights,
	.footer-social {
		float: none;
		display: block;
		text-align: center;
		margin: 12px 0;
	}
}
.logo-text {
	color: #fff;
}
.header .social-links a {
	background-color: #444;
	color: #aaa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}
p {
	color: #e5e5e5;
}
.btn-primary {
	color: #fff;
	background-color: #333;
	box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
}
ul.social-links li a {
	display: inline-block;
	width: 34px;
	height: 34px;
	color: #e5e5e5;
	background-color: transparent;
	border: 1px solid #555;
	text-align: center;
}
ul.social-links li a:hover {
	color: #fff;
	background-color: #ff724c;
	border-color: transparent;
}
.details-page-nav > div.nav-item a {
	color: #aaa;
	background-color: #333;
}
.mobile-header {
	background-color: #222;
	border-color: #444;
}
.details-page-content {
	background-color: #222;
}
.details-page-nav {
	text-align: right;
	float: right;
	margin-bottom: 10px;
}
.details-page-nav > div.nav-item {
	position: relative;
	display: inline-block;
	margin: 0 3px;
}
.details-page-nav > div.nav-item a {
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	color: #888;
	background-color: #fafafa;
	border-radius: 5px;
}
.details-page-nav > div.nav-item a:hover {
	background-color: #7066ff;
	color: #fff;
}
.details-page-nav > div.nav-item a i {
	line-height: 40px;
	font-size: 22px;
}
.details-page-title {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
}
.details-page-title h1 {
	display: inline-block;
	margin: 0;
}
.details-page-wrapper .block-title h3 {
	font-size: 18px;
	margin-bottom: 15px;
}
.entry-title {
	font-size: 32px;
	line-height: 1.3;
	margin: 15px 0 20px 0;
}
.entry-title a {
	color: inherit;
}
.entry-title a:hover {
	color: #7066ff;
}
.entry-content,
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.wrapper .entry-content {
	padding-top: 0;
	padding-bottom: 30px;
}
.entry-content a.button,
.entry-content a:hover,
.page-content a.button,
.page-content a:hover {
	text-decoration: none;
}
@media only screen and (max-width: 1320px) {
	.page-container {
		max-width: 94%;
	}
}
@media only screen and (min-width: 991px) {
	.details-page-content::-webkit-scrollbar,
	.single-page-content::-webkit-scrollbar,
	body::-webkit-scrollbar {
		position: absolute;
		width: 5px;
		margin-left: -5px;
	}
	.details-page-content::-webkit-scrollbar-track,
	.single-page-content::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track {
		background-color: #fff;
	}
	.details-page-content::-webkit-scrollbar-thumb,
	.single-page-content::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb {
		background-color: #d5d5d5;
	}
}
@media only screen and (max-width: 991px) {
	.page-container {
		border-radius: 0;
		margin: 0;
		max-width: 100%;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		padding: 52px 40px 60px;
	}
	.page-title {
		padding: 30px 40px;
		margin-right: -40px;
		margin-left: -40px;
		margin-bottom: 40px;
	}
	.single-page-content {
		padding-left: 0;
		margin-left: 0;
	}
	.page-content {
		padding: 0;
	}
	.page-title h1 {
		margin: 0;
	}
}
@media only screen and (min-width: 768px) {
	.fw-container {
		width: auto;
	}
}
@media only screen and (max-width: 768px) {
	.fw-container {
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 480px) {
	.entry-title {
		font-size: 27px;
	}
}
@media only screen and (max-width: 991px) {
	.menu-toggle i {
		color: #f5f5f5;
	}
	.header-content,
	.site-nav {
		background-color: #222;
	}
}
.theme-style-dark .home-photo {
	background-color: #444;
	border: 18px solid #333;
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 1421px) {
	.page-container:not(.full-width-container) {
		max-width: 1320px;
		border-radius: 40px;
	}
}
@media only screen and (max-width: 1420px) and (min-width: 991px) {
	.page-container:not(.full-width-container) {
		max-width: 94%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 40px;
	}
}
@media only screen and (min-width: 991px) {
	.site-footer {
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
	}
}
body,
p {
	font-family: Poppins, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.75em;
	color: #d5d5d5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #f5f5f5;
}
.logo-symbol,
.logo-text {
	font-family: Poppins, Helvetica, sans-serif;
}
h1 {
	font-size: 32px;
	color: #f5f5f5;
}
h2 {
	font-size: 24px;
	color: #f5f5f5;
}
h3 {
	font-size: 18px;
	color: #f5f5f5;
}
h4 {
	font-size: 16px;
	color: #f5f5f5;
}
h5 {
	font-size: 14px;
	color: #f5f5f5;
}
h6 {
	font-size: 12px;
	color: #f5f5f5;
}
.btn-primary {
	font-family: Poppins, Helvetica, sans-serif;
}
body {
	background-color: #007ced;
}
.btn-primary:focus,
.btn-primary:hover,
.header .social-links a:hover,
.logo-symbol,
.details-page-nav > div.nav-item a:hover {
	background-color: #007ced;
}
a {
	color: #007ced;
}
a {
	color: #09c;
}
a:hover {
	color: #069;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.logo-symbol,
.page-links a:hover {
	border-color: #007ced;
}
.page-container,
.details-page-content {
	background-color: #222;
}
.site-main-menu li a,
.site-main-menu li a:hover {
	font-family: Poppins, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	color: #f5f5f5;
	letter-spacing: 0;
}
.site-main-menu > li > a {
	line-height: 3.3em;
}
.site-footer {
	background-color: #252525;
	border-color: #333;
}
.footer-copyrights p {
	color: #ddd;
}
.site-footer .footer-social-links li a {
	color: #ddd;
}
body {
	position: initial;
}
.home-content {
	margin: 0 10% 5%;
}
.home-text {
	text-align: left;
	padding-right: 10px;
}
.home-text h1 {
	font-size: 48px;
	line-height: 56px;
	margin-top: 0;
	margin-bottom: 20px;
}
.home-text h4 {
	font-size: 16px;
	color: #aaa;
	font-weight: 300;
	margin-bottom: 10px;
}
.home-text p {
	text-align: justify;
	font-size: 15px;
}
.home-photo {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: calc(100% - 36px);
	background-color: #fff;
	border-radius: 1000px;
	border: 18px solid #fff;
	overflow: hidden;
	-webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.home-photo .hp-inner {
	position: relative;
	top: 100px;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.home-content.with-photo {
	margin: 5% 0;
}

.home-bgphoto {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: calc(56% - 40px);
	border-radius: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 15px solid rgb(136, 136, 136);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1100px) {
	.home-content.with-photo {
		margin: 5% 0;
	}
}

@media only screen and (max-width: 767px) {
	.home-bgphoto,
	.home-bgphoto.hv-left {
		margin: 20px auto 30px;
	}

	.home-text {
		padding-right: 0;
	}

	.home-text.hv-left {
		padding-left: 0;
	}

	.home-text h1,
	.home-text h4 {
		text-align: center;
	}

	.home-buttons {
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.home-text h1 {
		font-size: 36px;
		line-height: 42px;
	}

	.home-text h4 {
		font-size: 14px;
	}
}

.imgbg-container {
	background: #333;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.imgbg-container img {
	background: #333;
	position: absolute;
	height: auto;
	width: 100%;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.25s opacity ease-in-out;
}

.home-buttons {
	margin-top: 27px;
}
@media only screen and (max-width: 1100px) {
	.home-content {
		margin: 5% 0;
	}
}
@media only screen and (max-width: 767px) {
	.home-photo {
		width: 60%;
		padding-bottom: calc(60% - 36px);
		margin: 30px auto;
	}
	.home-text {
		padding-right: 0;
	}
	.home-text h1,
	.home-text h4 {
		text-align: center;
	}
	.home-buttons {
		text-align: center;
	}
}
@media only screen and (max-width: 648px) {
	.home-photo {
		width: 70%;
		padding-bottom: calc(70% - 36px);
	}
}
@media only screen and (max-width: 500px) {
	.home-photo {
		width: 90%;
		padding-bottom: calc(90% - 36px);
	}
	.home-text h1 {
		font-size: 36px;
		line-height: 42px;
	}
	.home-text h4 {
		font-size: 14px;
	}
}

.site-main-menu li.current-menu-item > a,
.site-main-menu li.current-menu-parent > a,
.site-main-menu li:hover > a {
	opacity: 1;
}

.modal {
	.modal-dialog {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 100vw;
		margin: 0;
		padding: 0;
	}
	.modal-content {
		background: #222 !important;
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}
	.modal-body {
		width: 92%;
		height: 100%;
		margin: auto;
	}
}
@media only screen and (min-width: 768px) {
	.modal-body {
		width: 75% !important;
	}
}
