@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes moveToLeft {
	to {
		-webkit-transform: translateX(-100%);
	}
}
@keyframes moveToLeft {
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@-webkit-keyframes moveFromLeft {
	from {
		-webkit-transform: translateX(-100%);
	}
}
@keyframes moveFromLeft {
	from {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@-webkit-keyframes moveToRight {
	to {
		-webkit-transform: translateX(100%);
	}
}
@keyframes moveToRight {
	to {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}
@-webkit-keyframes moveFromRight {
	from {
		-webkit-transform: translateX(100%);
	}
}
@keyframes moveFromRight {
	from {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}
@-webkit-keyframes moveToTop {
	to {
		-webkit-transform: translateY(-100%);
	}
}
@keyframes moveToTop {
	to {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-webkit-keyframes moveFromTop {
	from {
		-webkit-transform: translateY(-100%);
	}
}
@keyframes moveFromTop {
	from {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-webkit-keyframes moveToBottom {
	to {
		-webkit-transform: translateY(100%);
	}
}
@keyframes moveToBottom {
	to {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}
@-webkit-keyframes moveFromBottom {
	from {
		-webkit-transform: translateY(100%);
	}
}
@keyframes moveFromBottom {
	from {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}
@-webkit-keyframes fade {
	to {
		opacity: 0.3;
	}
}
@keyframes fade {
	to {
		opacity: 0.3;
	}
}
@-webkit-keyframes moveToLeftFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
	}
}
@keyframes moveToLeftFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@-webkit-keyframes moveFromLeftFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
	}
}
@keyframes moveFromLeftFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@-webkit-keyframes moveToRightFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
	}
}
@keyframes moveToRightFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}
@-webkit-keyframes moveFromRightFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
	}
}
@keyframes moveFromRightFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}
@-webkit-keyframes moveToTopFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
	}
}
@keyframes moveToTopFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-webkit-keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
	}
}
@keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}
@-webkit-keyframes moveToBottomFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(100%);
	}
}
@keyframes moveToBottomFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}
@-webkit-keyframes moveFromBottomFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(100%);
	}
}
@keyframes moveFromBottomFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}
@-webkit-keyframes scaleDown {
	to {
		opacity: 0;
		-webkit-transform: scale(0.8);
	}
}
@keyframes scaleDown {
	to {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
@-webkit-keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.8);
	}
}
@keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
@-webkit-keyframes scaleUpDown {
	from {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}
@keyframes scaleUpDown {
	from {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
@-webkit-keyframes scaleDownUp {
	to {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}
@keyframes scaleDownUp {
	to {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
@-webkit-keyframes scaleDownCenter {
	to {
		opacity: 0;
		-webkit-transform: scale(0.7);
	}
}
@keyframes scaleDownCenter {
	to {
		opacity: 0;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}
@-webkit-keyframes scaleUpCenter {
	from {
		opacity: 0;
		-webkit-transform: scale(0.7);
	}
}
@keyframes scaleUpCenter {
	from {
		opacity: 0;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}
@-webkit-keyframes rotateRightSideFirst {
	40% {
		-webkit-transform: rotateY(15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@keyframes rotateRightSideFirst {
	40% {
		-webkit-transform: rotateY(15deg);
		transform: rotateY(15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@-webkit-keyframes rotateLeftSideFirst {
	40% {
		-webkit-transform: rotateY(-15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@keyframes rotateLeftSideFirst {
	40% {
		-webkit-transform: rotateY(-15deg);
		transform: rotateY(-15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@-webkit-keyframes rotateTopSideFirst {
	40% {
		-webkit-transform: rotateX(15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@keyframes rotateTopSideFirst {
	40% {
		-webkit-transform: rotateX(15deg);
		transform: rotateX(15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@-webkit-keyframes rotateBottomSideFirst {
	40% {
		-webkit-transform: rotateX(-15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@keyframes rotateBottomSideFirst {
	40% {
		-webkit-transform: rotateX(-15deg);
		transform: rotateX(-15deg);
		opacity: 0.8;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: scale(0.8) translateZ(-200px);
		transform: scale(0.8) translateZ(-200px);
		opacity: 0;
	}
}
@-webkit-keyframes flipOutRight {
	to {
		-webkit-transform: translateZ(-1000px) rotateY(90deg);
		opacity: 0.2;
	}
}
@keyframes flipOutRight {
	to {
		-webkit-transform: translateZ(-1000px) rotateY(90deg);
		transform: translateZ(-1000px) rotateY(90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipInLeft {
	from {
		-webkit-transform: translateZ(-1000px) rotateY(-90deg);
		opacity: 0.2;
	}
}
@keyframes flipInLeft {
	from {
		-webkit-transform: translateZ(-1000px) rotateY(-90deg);
		transform: translateZ(-1000px) rotateY(-90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipOutLeft {
	to {
		-webkit-transform: translateZ(-1000px) rotateY(-90deg);
		opacity: 0.2;
	}
}
@keyframes flipOutLeft {
	to {
		-webkit-transform: translateZ(-1000px) rotateY(-90deg);
		transform: translateZ(-1000px) rotateY(-90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipInRight {
	from {
		-webkit-transform: translateZ(-1000px) rotateY(90deg);
		opacity: 0.2;
	}
}
@keyframes flipInRight {
	from {
		-webkit-transform: translateZ(-1000px) rotateY(90deg);
		transform: translateZ(-1000px) rotateY(90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipOutTop {
	to {
		-webkit-transform: translateZ(-1000px) rotateX(90deg);
		opacity: 0.2;
	}
}
@keyframes flipOutTop {
	to {
		-webkit-transform: translateZ(-1000px) rotateX(90deg);
		transform: translateZ(-1000px) rotateX(90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipInBottom {
	from {
		-webkit-transform: translateZ(-1000px) rotateX(-90deg);
		opacity: 0.2;
	}
}
@keyframes flipInBottom {
	from {
		-webkit-transform: translateZ(-1000px) rotateX(-90deg);
		transform: translateZ(-1000px) rotateX(-90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipOutBottom {
	to {
		-webkit-transform: translateZ(-1000px) rotateX(-90deg);
		opacity: 0.2;
	}
}
@keyframes flipOutBottom {
	to {
		-webkit-transform: translateZ(-1000px) rotateX(-90deg);
		transform: translateZ(-1000px) rotateX(-90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes flipInTop {
	from {
		-webkit-transform: translateZ(-1000px) rotateX(90deg);
		opacity: 0.2;
	}
}
@keyframes flipInTop {
	from {
		-webkit-transform: translateZ(-1000px) rotateX(90deg);
		transform: translateZ(-1000px) rotateX(90deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes rotateFall {
	0% {
		-webkit-transform: rotateZ(0);
	}
	20% {
		-webkit-transform: rotateZ(10deg);
		-webkit-animation-timing-function: ease-out;
	}
	40% {
		-webkit-transform: rotateZ(17deg);
	}
	60% {
		-webkit-transform: rotateZ(16deg);
	}
	100% {
		-webkit-transform: translateY(100%) rotateZ(17deg);
	}
}
@keyframes rotateFall {
	0% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0);
	}
	20% {
		-webkit-transform: rotateZ(10deg);
		transform: rotateZ(10deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	40% {
		-webkit-transform: rotateZ(17deg);
		transform: rotateZ(17deg);
	}
	60% {
		-webkit-transform: rotateZ(16deg);
		transform: rotateZ(16deg);
	}
	100% {
		-webkit-transform: translateY(100%) rotateZ(17deg);
		transform: translateY(100%) rotateZ(17deg);
	}
}
@-webkit-keyframes rotateOutNewspaper {
	to {
		-webkit-transform: translateZ(-3000px) rotateZ(360deg);
		opacity: 0;
	}
}
@keyframes rotateOutNewspaper {
	to {
		-webkit-transform: translateZ(-3000px) rotateZ(360deg);
		transform: translateZ(-3000px) rotateZ(360deg);
		opacity: 0;
	}
}
@-webkit-keyframes rotateInNewspaper {
	from {
		-webkit-transform: translateZ(-3000px) rotateZ(-360deg);
		opacity: 0;
	}
}
@keyframes rotateInNewspaper {
	from {
		-webkit-transform: translateZ(-3000px) rotateZ(-360deg);
		transform: translateZ(-3000px) rotateZ(-360deg);
		opacity: 0;
	}
}
@-webkit-keyframes rotatePushLeft {
	to {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
	}
}
@keyframes rotatePushLeft {
	to {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		transform: rotateY(90deg);
	}
}
@-webkit-keyframes rotatePushRight {
	to {
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
}
@keyframes rotatePushRight {
	to {
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
}
@-webkit-keyframes rotatePushTop {
	to {
		opacity: 0;
		-webkit-transform: rotateX(-90deg);
	}
}
@keyframes rotatePushTop {
	to {
		opacity: 0;
		-webkit-transform: rotateX(-90deg);
		transform: rotateX(-90deg);
	}
}
@-webkit-keyframes rotatePushBottom {
	to {
		opacity: 0;
		-webkit-transform: rotateX(90deg);
	}
}
@keyframes rotatePushBottom {
	to {
		opacity: 0;
		-webkit-transform: rotateX(90deg);
		transform: rotateX(90deg);
	}
}
@-webkit-keyframes rotatePullRight {
	from {
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
}
@keyframes rotatePullRight {
	from {
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
}
@-webkit-keyframes rotatePullLeft {
	from {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
	}
}
@keyframes rotatePullLeft {
	from {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		transform: rotateY(90deg);
	}
}
@-webkit-keyframes rotatePullTop {
	from {
		opacity: 0;
		-webkit-transform: rotateX(-90deg);
	}
}
@keyframes rotatePullTop {
	from {
		opacity: 0;
		-webkit-transform: rotateX(-90deg);
		transform: rotateX(-90deg);
	}
}
@-webkit-keyframes rotatePullBottom {
	from {
		opacity: 0;
		-webkit-transform: rotateX(90deg);
	}
}
@keyframes rotatePullBottom {
	from {
		opacity: 0;
		-webkit-transform: rotateX(90deg);
		transform: rotateX(90deg);
	}
}
@-webkit-keyframes rotateFoldRight {
	to {
		opacity: 0;
		-webkit-transform: translateX(100%) rotateY(90deg);
	}
}
@keyframes rotateFoldRight {
	to {
		opacity: 0;
		-webkit-transform: translateX(100%) rotateY(90deg);
		transform: translateX(100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateFoldLeft {
	to {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}
@keyframes rotateFoldLeft {
	to {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
		transform: translateX(-100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateFoldTop {
	to {
		opacity: 0;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}
}
@keyframes rotateFoldTop {
	to {
		opacity: 0;
		-webkit-transform: translateY(-100%) rotateX(90deg);
		transform: translateY(-100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateFoldBottom {
	to {
		opacity: 0;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
}
@keyframes rotateFoldBottom {
	to {
		opacity: 0;
		-webkit-transform: translateY(100%) rotateX(-90deg);
		transform: translateY(100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateUnfoldLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}
@keyframes rotateUnfoldLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
		transform: translateX(-100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateUnfoldRight {
	from {
		opacity: 0;
		-webkit-transform: translateX(100%) rotateY(90deg);
	}
}
@keyframes rotateUnfoldRight {
	from {
		opacity: 0;
		-webkit-transform: translateX(100%) rotateY(90deg);
		transform: translateX(100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateUnfoldTop {
	from {
		opacity: 0;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}
}
@keyframes rotateUnfoldTop {
	from {
		opacity: 0;
		-webkit-transform: translateY(-100%) rotateX(90deg);
		transform: translateY(-100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateUnfoldBottom {
	from {
		opacity: 0;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
}
@keyframes rotateUnfoldBottom {
	from {
		opacity: 0;
		-webkit-transform: translateY(100%) rotateX(-90deg);
		transform: translateY(100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateRoomLeftOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(90deg);
	}
}
@keyframes rotateRoomLeftOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(90deg);
		transform: translateX(-100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateRoomLeftIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(-90deg);
	}
}
@keyframes rotateRoomLeftIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(-90deg);
		transform: translateX(100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateRoomRightOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(-90deg);
	}
}
@keyframes rotateRoomRightOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(-90deg);
		transform: translateX(100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateRoomRightIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(90deg);
	}
}
@keyframes rotateRoomRightIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(90deg);
		transform: translateX(-100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateRoomTopOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(-90deg);
	}
}
@keyframes rotateRoomTopOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(-90deg);
		transform: translateY(-100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateRoomTopIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(90deg);
	}
}
@keyframes rotateRoomTopIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(90deg);
		transform: translateY(100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateRoomBottomOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(90deg);
	}
}
@keyframes rotateRoomBottomOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(90deg);
		transform: translateY(100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateRoomBottomIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(-90deg);
	}
}
@keyframes rotateRoomBottomIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(-90deg);
		transform: translateY(-100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateCubeLeftOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}
@keyframes rotateCubeLeftOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
		transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
		transform: translateX(-100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateCubeLeftIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
	}
}
@keyframes rotateCubeLeftIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(90deg);
		transform: translateX(100%) rotateY(90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
		transform: translateX(50%) translateZ(-200px) rotateY(45deg);
	}
}
@-webkit-keyframes rotateCubeRightOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(90deg);
	}
}
@keyframes rotateCubeRightOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
		transform: translateX(50%) translateZ(-200px) rotateY(45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateX(100%) rotateY(90deg);
		transform: translateX(100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateCubeRightIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
}
@keyframes rotateCubeRightIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateX(-100%) rotateY(-90deg);
		transform: translateX(-100%) rotateY(-90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
		transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
}
@-webkit-keyframes rotateCubeTopOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}
}
@keyframes rotateCubeTopOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
		transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
		transform: translateY(-100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateCubeTopIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
}
@keyframes rotateCubeTopIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
		transform: translateY(100%) rotateX(-90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
		transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
}
@-webkit-keyframes rotateCubeBottomOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
	}
}
@keyframes rotateCubeBottomOut {
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
		transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
	100% {
		opacity: 0.3;
		-webkit-transform: translateY(100%) rotateX(-90deg);
		transform: translateY(100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateCubeBottomIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
@keyframes rotateCubeBottomIn {
	0% {
		opacity: 0.3;
		-webkit-transform: translateY(-100%) rotateX(90deg);
		transform: translateY(-100%) rotateX(90deg);
	}
	50% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
		transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
@-webkit-keyframes rotateCarouselLeftOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
	}
}
@keyframes rotateCarouselLeftOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
		transform: translateX(-150%) scale(0.4) rotateY(-65deg);
	}
}
@-webkit-keyframes rotateCarouselLeftIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@keyframes rotateCarouselLeftIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
		transform: translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@-webkit-keyframes rotateCarouselRightOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@keyframes rotateCarouselRightOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
		transform: translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@-webkit-keyframes rotateCarouselRightIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
	}
}
@keyframes rotateCarouselRightIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
		transform: translateX(-200%) scale(0.4) rotateY(-65deg);
	}
}
@-webkit-keyframes rotateCarouselTopOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@keyframes rotateCarouselTopOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
		transform: translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@-webkit-keyframes rotateCarouselTopIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@keyframes rotateCarouselTopIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
		transform: translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@-webkit-keyframes rotateCarouselBottomOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@keyframes rotateCarouselBottomOut {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
		transform: translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@-webkit-keyframes rotateCarouselBottomIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@keyframes rotateCarouselBottomIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
		transform: translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@-webkit-keyframes rotateSidesOut {
	to {
		opacity: 0;
		-webkit-transform: translateZ(-500px) rotateY(90deg);
	}
}
@keyframes rotateSidesOut {
	to {
		opacity: 0;
		-webkit-transform: translateZ(-500px) rotateY(90deg);
		transform: translateZ(-500px) rotateY(90deg);
	}
}
@-webkit-keyframes rotateSidesIn {
	from {
		opacity: 0;
		-webkit-transform: translateZ(-500px) rotateY(-90deg);
	}
}
@keyframes rotateSidesIn {
	from {
		opacity: 0;
		-webkit-transform: translateZ(-500px) rotateY(-90deg);
		transform: translateZ(-500px) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateSlideOut {
	25% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px);
	}
	75% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
	}
}
@keyframes rotateSlideOut {
	25% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px);
		transform: translateZ(-500px);
	}
	75% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
		transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
		transform: translateZ(-500px) translateX(-200%);
	}
}
@-webkit-keyframes rotateSlideIn {
	0%,
	25% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0) translateX(0);
	}
}
@keyframes rotateSlideIn {
	0%,
	25% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px) translateX(200%);
		transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: 0.5;
		-webkit-transform: translateZ(-500px);
		transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0) translateX(0);
		transform: translateZ(0) translateX(0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@-webkit-keyframes fadeOutLeft {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes fadeOutLeft {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
.transition-flip-in-right {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: flipInLeft 0.5s both ease-out;
	animation: flipInLeft 0.5s both ease-out;
}
@-webkit-keyframes swap {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		-webkit-transform: scale(0, 0) translate(0, 0);
		transform: scale(0, 0) translate(0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: scale(1, 1) translate(0, 0);
		transform: scale(1, 1) translate(0, 0);
	}
}
@keyframes swap {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		-webkit-transform: scale(0, 0) translate(0, 0);
		transform: scale(0, 0) translate(0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		-webkit-transform: scale(1, 1) translate(0, 0);
		transform: scale(1, 1) translate(0, 0);
	}
}
@-webkit-keyframes vanishIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(2, 2);
		transform: scale(2, 2);
		-webkit-filter: blur(90px);
		filter: blur(90px);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@keyframes vanishIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(2, 2);
		transform: scale(2, 2);
		-webkit-filter: blur(90px);
		filter: blur(90px);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@-webkit-keyframes puffIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(2, 2);
		transform: scale(2, 2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@keyframes puffIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(2, 2);
		transform: scale(2, 2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
.transition-space-in-right {
	-webkit-animation-name: spaceInRight;
	animation-name: spaceInRight;
}
@-webkit-keyframes spaceInRight {
	0% {
		opacity: 0;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transform: scale(0.2) translate(200%, 0);
		transform: scale(0.2) translate(200%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
	}
}
@keyframes spaceInRight {
	0% {
		opacity: 0;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transform: scale(0.2) translate(200%, 0);
		transform: scale(0.2) translate(200%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
	}
}
@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1.1);
		opacity: 0;
	}
}
@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0;
	}
}
@-webkit-keyframes twisterInUp {
	0% {
		opacity: 0;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
		transform: scale(0, 0) rotate(360deg) translateY(100%);
	}
	30% {
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
		transform: scale(0, 0) rotate(360deg) translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scale(1, 1) rotate(0) translateY(0);
		transform: scale(1, 1) rotate(0) translateY(0);
	}
}
@keyframes twisterInUp {
	0% {
		opacity: 0;
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
		transform: scale(0, 0) rotate(360deg) translateY(100%);
	}
	30% {
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
		-webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
		transform: scale(0, 0) rotate(360deg) translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scale(1, 1) rotate(0) translateY(0);
		transform: scale(1, 1) rotate(0) translateY(0);
	}
}
