img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
figure {
	max-width: 100%;
}
.hidden {
	display: none;
	visibility: hidden;
}
.portfolio-grid {
	margin-left: -8px;
	margin-right: -8px;
}
.portfolio-grid figure {
	width: 33.33333%;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 8px;
	border-radius: 12px;
}
.portfolio-grid img {
	position: relative;
	display: block;
	width: 100%;
}
.portfolio-grid.three-columns figure {
	width: calc(33.33333% - 16px);
}
.portfolio-grid img {
	position: relative;
	display: block;
	width: 100%;
}
.portfolio-grid figure a {
	display: block;
	position: relative;
}
.portfolio-grid figure img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure:hover img {
	transform: scale(1.2);
}
.portfolio-grid figure a {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 3;
}
.portfolio-item-img {
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	border-radius: 8px;
}
.portfolio-grid figure .portfolio-item-img:after {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.06);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure:hover .portfolio-item-img:after {
	opacity: 1;
}
.portfolio-grid figure i {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 16px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure .name {
	display: inline-block;
	padding: 4px 10px;
	margin: 0;
	color: #333;
	background-color: #fff;
	font-size: 14px;
	top: 20px;
	left: 20px;
	max-width: calc(100% - 67px);
	border-radius: 5px;
	position: absolute;
}
.portfolio-grid figure .category {
	display: inline-block;
	padding: 3px 7px;
	background-color: #fff;
	color: #222;
	font-size: 11px;
	line-height: 1.2em;
	bottom: 20px;
	left: 20px;
	position: absolute;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-grid figure:hover .category,
.portfolio-grid figure:hover i {
	opacity: 1;
}
.portfolio-page-title {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
}
.portfolio-page-title h1 {
	display: inline-block;
	margin: 0;
}
.portfolio-page-page-content img {
	max-width: 100%;
}
.portfolio-page-content .embed-video,
.portfolio-page-image,
.portfolio-page-video {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}
.post-content .embed-video {
	margin: 40px 0;
}
.post-categories {
	display: inline-block;
	margin: 0 0 7px;
	padding: 0;
	list-style: none;
}
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
.page-content h1:first-child,
.page-content h2:first-child,
.page-content h3:first-child,
.page-content h4:first-child,
.page-content h5:first-child,
.page-content h6:first-child {
	margin-top: 0;
}
.page-content a:hover {
	text-decoration: none;
}
.gallery {
	display: inline-block;
	margin-bottom: 20px;
}
.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width: calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width: calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}
.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item:nth-of-type(2n + 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n + 1),
.gallery-columns-4 .gallery-item:nth-of-type(4n + 1),
.gallery-columns-5 .gallery-item:nth-of-type(5n + 1),
.gallery-columns-6 .gallery-item:nth-of-type(6n + 1),
.gallery-columns-7 .gallery-item:nth-of-type(7n + 1),
.gallery-columns-8 .gallery-item:nth-of-type(8n + 1),
.gallery-columns-9 .gallery-item:nth-of-type(9n + 1) {
	clear: left;
}
@media only screen and (max-width: 1320px) {
	.portfolio-grid figure {
		width: calc(33.33333% - 16px);
	}
}
@media only screen and (min-width: 991px) {
	.portfolio-page-content::-webkit-scrollbar,
	body::-webkit-scrollbar {
		position: absolute;
		width: 5px;
		margin-left: -5px;
	}
	.portfolio-page-content::-webkit-scrollbar-track,
	body::-webkit-scrollbar-track {
		background-color: #fff;
	}
	.portfolio-page-content::-webkit-scrollbar-thumb,
	body::-webkit-scrollbar-thumb {
		background-color: #d5d5d5;
	}
}
@media only screen and (max-width: 991px) {
	.page-title {
		padding: 30px 40px;
		margin-right: -40px;
		margin-left: -40px;
		margin-bottom: 40px;
	}
	.page-content {
		padding: 0;
	}
	.page-title h1 {
		margin: 0;
	}
}
@media only screen and (max-width: 768px) {
	.portfolio-grid figure {
		width: calc(50% - 16px);
	}
	.portfolio-grid figure,
	.portfolio-grid.three-columns figure {
		width: calc(50% - 16px);
	}
}
@media only screen and (max-width: 480px) {
	.portfolio-grid figure,
	.portfolio-grid.three-columns figure {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.portfolio-grid {
		margin-left: 0;
		margin-right: 0;
	}
}

.portfolio-grid figure .category,
.portfolio-grid figure .name {
	color: #f5f5f5;
	background-color: #222;
}
.portfolio-grid figure i {
	background-color: #222;
}
.portfolio-page-content {
	background-color: #222;
}
.page-title {
	color: #777;
}
