.card-main {
	background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    .card-header {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 20px 20px 0 0;
    }
  .main {
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
	}

	.card-title,
	.card-text,
	.card-body {
      background-color: #F5F5F5
    }

	h1,
	h2,
	h3,
	h6 {

		color: $white;
	}

    .card-body {
      padding: 40px 0;
      border-radius: 20px;
    }
}

.card-main {
  margin-top: -5rem!important;
}
