.splash-screen {
	height: 100vh;
	text-align: center;

	.content {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
	}
}

.splash-tab {
	height: 100%;
	min-height: 600px;
	text-align: center;

	.content {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
	}
}
