.subpages {
	position: relative;
	height: 100%;
	width: 100vw;
	left: -55px;
	margin: 10px auto -60px;
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	perspective: 1500px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	.header .header-content {
		margin: 0 15px;
	}

	.page-content {
		padding: 0 50px;
		background-color: #333;
	}

	.block-title h3 {
		font-size: 21px;
		margin: 5px 0 25px;

		span {
			color: #2196f3;
		}
	}

	.custom-page-content {
		.block {
			margin-bottom: 30px;

			.certificate-item {
				min-height: 50px;

				.certi-title,
				.certi-id {
					display: inline-block;
				}
			}
		}

		.page-header {
			background-color: #fff;
			border: 0;
			text-align: center;
			padding: 30px 50px;
			margin: 0;

			h2 {
				font-size: 44px;
				margin: 0;
			}

			&.color-1 {
				background-color: #2196f3;
				background-image: url(../../img/free/BGDefault.webp);
				background-size: cover;
				-webkit-background-size: cover;
				background-attachment: scroll;
				background-position: center center;
				background-repeat: no-repeat;

				h2 {
					color: #fff;
				}
			}

			&.color-2 h2,
			&.color-3 h2,
			&.color-4 h2 {
				color: #fff;
			}
		}
	}

	.page-content {
		background-color: #333;
	}

	.start-page-content {
		.page-header {
			position: relative;
			background-color: #2196f3;
			padding: 30px 50px;
			background-image: url(../../img/free/BGDefault.webp);
			background-size: cover;
			-webkit-background-size: cover;
			background-attachment: scroll;
			background-position: center center;
			background-repeat: no-repeat;

			.photo {
				max-width: 280px;
				border: 3px solid #fff;
				background-color: #fff;
				-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
				box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;

				&:hover {
					-webkit-transform: translateY(-9px);
					-ms-transform: translateY(-9px);
					-o-transform: translateY(-9px);
					transform: translateY(-9px);
					-webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
					-moz-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
					-o-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
					box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
				}
			}

			.title-block {
				text-align: center;

				h1 {
					color: #fff;
					font-size: 54px;
					font-weight: 700;
					margin: 30px 0 0;
				}

				.sp-subtitle {
					color: #fff;
					font-size: 18px;
					margin: 0;
				}
			}
		}

		.page-content {
			padding-bottom: 50px !important;
		}

		.social-links {
			position: relative;
			text-align: center;
			margin: 0 auto;
			margin-top: 20px;

			a {
				position: relative;
				display: inline-block;
				width: 36px;
				height: 36px;
				border-radius: 24px;
				color: #9e9e9e;
				background-color: #fff;
				margin: 0 1px;
				text-align: center;
				-webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
				box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
				margin: 0 10px;
				text-align: center;

				&:hover {
					color: #fff;
					background-color: #9e9e9e;
					-webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
					-moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
					box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
				}

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					line-height: 36px;
					width: 18px;
					font-size: 18px;
				}
			}
		}

		.page-content {
			background-color: #333;

			div {
				display: inline-block;
				height: 100%;
			}
		}

		.about-me .block-title h3 {
			margin-bottom: 10px;
		}
	}

	.info-list {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 6px 0;
			text-align: left;

			.title {
				display: inline-block;
				min-width: 120px;
			}

			.value {
				display: inline-block;
				color: #9e9e9e;
			}
		}
	}

	.timeline {
		border-left: 2px solid #e0e0e0;
		padding: 15px 0;
	}

	.timeline-item {
		position: relative;
		padding: 15px 20px 10px;
		margin-left: 20px;
		margin-bottom: 20px;
		background-color: #444;
		border-left: 2px solid #2196f3;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			background-color: #fff;
			border-radius: 10px;
			width: 12px;
			height: 12px;
			top: 20px;
			left: -29px;
			border: 2px solid #2196f3;
			z-index: 2;
		}

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			background-color: #2196f3;
			border-radius: 10px;
			width: 29px;
			height: 2px;
			top: 25px;
			left: -29px;
			z-index: 1;
		}

		.item-title {
			display: block;
			margin: 0;
			font-size: 16px;
			line-height: 1.2em;
		}

		.item-period {
			display: inline-block;
			font-size: 12px;
			line-height: 1.2em;
			color: #2196f3;
			margin-bottom: 8px;
		}

		.item-small {
			display: inline-block;
			font-size: 12px;
			line-height: 1.2em;
			color: #9e9e9e;
			margin-left: 5px;
			margin-bottom: 8px;
			padding-left: 8px;
			border-left: 1px solid #e0e0e0;
		}
	}

	.service-block {
		width: 100%;
		background-color: #444;
		padding: 20px;
		text-align: center;
		padding: 0;
		border-radius: 10px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover {
			-webkit-transform: translateY(-9px);
			-ms-transform: translateY(-9px);
			-o-transform: translateY(-9px);
			transform: translateY(-9px);
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.08);
			border-color: #fff;

			i:before {
				background: linear-gradient(to right, #8490ff 0, #62bdfc 70%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	.service-image {
		width: 80px;
		height: 80px;
		background-color: #fafafa;
		border-radius: 100%;
		margin: 25px auto;
		text-align: center;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		img,
		h4 {
			display: inline-block;
		}

		&:hover {
			-webkit-transform: translateY(-7px);
			-ms-transform: translateY(-7px);
			-o-transform: translateY(-7px);
			transform: translateY(-7px);
			-webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
			-o-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
			box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
		}
	}

	.service-block {
		img {
			max-width: 80px;
			height: 48px;
			margin: 18px 0;
		}

		h4 {
			font-size: 17px;
			padding: 20px 0 0;
		}
	}

	.map {
		width: 100%;
		height: 180px;
		margin: 15px 0 30px;
	}
}

@media only screen and (max-width: 991px) {
	.subpages {
		.section-title-block {
			margin-left: 0;
			margin-right: 0;
		}

		.section-title {
			display: inline-block;
			position: relative;
			font-size: 38px;

			&:after {
				display: none;
			}
		}

		.section-title-block .section-description {
			position: relative;
			font-size: 13px;
			margin-top: -10px;
		}

		.home-page-block h2 {
			font-size: 60px;
		}

		.home-page-description {
			font-size: 18px;
		}
	}
}

@media only screen and (max-width: 769px) {
	.subpages {
		.home-page-block h2 {
			font-size: 50px;
		}

		.home-page-description {
			font-size: 18px;
		}

		.info-list {
			margin-top: 20px;
		}

		.start-page-content .page-header {
			padding: 50px 30px;
			margin: 0;

			.photo {
				max-width: 200px;
				margin: 0 auto;
			}

			.title-block {
				h1 {
					margin-top: 25px;
					font-size: 44px;
					line-height: 1.2em;
				}

				.sp-subtitle {
					margin-top: 15px;
				}
			}
		}

		.custom-page-content .page-header {
			padding: 15px 30px;

			h2 {
				font-size: 33px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.subpages {
		.home-page-block h2 {
			font-size: 40px;
		}

		.home-page-description {
			font-size: 16px;
		}
	}
}

.switch-page {
	position: absolute;
	top: 3%;
	width: 70px;
	height: 70px;
	border: 2px solid white;
	border-radius: 100%;
	text-align: center;
	transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);

	&:hover {
		border: 1px solid #ff4136;
		transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
	}

	&.left {
		left: 3%;
		transform: translate(-3%, -50%);

		svg {
			position: absolute;
			top: 50%;
			right: 50%;
			transform: translate(125%, -50%);
		}
	}

	&.right {
		right: 3%;
		transform: translate(3%, -50%);

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-125%, -50%);
		}
	}

	svg {
		color: white !important;
		width: 40px;
		height: auto;
		position: absolute;
		top: 50%;
		margin: 0 2rem;
		cursor: pointer;
		overflow: visible;

		polygon,
		path {
			transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
			fill: white;
		}

		&:hover {
			polygon,
			path {
				transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
				fill: #ff4136;
			}

			.arrow {
				animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
			}

			.arrow-fixed {
				animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
			}
		}
	}
}

@keyframes arrow-anim {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	5% {
		transform: translateX(-0.1rem);
	}

	100% {
		transform: translateX(1rem);
		opacity: 0;
	}
}

@keyframes arrow-fixed-anim {
	5% {
		opacity: 0;
	}

	20% {
		opacity: 0.4;
	}

	100% {
		opacity: 1;
	}
}

@media only screen and (min-width: 768px) {
	.subpages {
		margin: 0 auto;
		width: 100% !important;
		left: 0;

		.page-header {
			border-radius: 30px 30px 0 0;
		}

		.page-content {
			border-radius: 0 0 30px 30px;
		}
	}

	.switch-page {
		top: 5% !important;
		width: 90px !important;
		height: 90px !important;

		&.left {
			left: 0 !important;
			transform: translate(-50%, -50%) !important;

			svg {
				transform: translate(100%, -50%) !important;
			}
		}

		&.right {
			right: 0 !important;
			transform: translate(50%, -50%) !important;

			svg {
				transform: translate(-100%, -50%) !important;
			}
		}

		svg {
			width: 50px !important;
		}
	}
}
