.main-timeline {
	.timeline {
		padding: 0 2px;
		position: relative;
		display: inline-block;
	}

	.timeline-icon {
		font-family: Poppins !important;
		display: block;
		text-align: center;
		padding: 20px 0 30px;
		z-index: 1;
		position: relative;

		&:before {
			content: "";
			width: 1px;
			height: 75%;
			background: #007bff;
			margin: 0 auto;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			transition: all 0.3s ease 0s;
		}
	}

	.timeline:hover .timeline-icon:before {
		background: #f9f9f9;
	}

	.timeline-icon a {
		font-family: Poppins !important;
		width: 75px;
		height: 75px;
		line-height: 75px;
		border-radius: 50%;
		background: #007bff;
		font-size: 25px;
		color: #fff;
		transition: all 0.3s ease 0s;
	}

	.timeline:hover .timeline-icon a {
		color: #888;
		background: #f9f9f9;
		animation: icon-load 4.5s ease 0s;
	}

	.border {
		height: 15px;
		background: #007bff;
		margin-bottom: 0;
		transition: all 0.3s ease 0s;
	}

	.timeline:hover .border {
		background: #f9f9f9;
	}

	.timeline-content {
		padding: 15px;
		border: 1px solid #ddd;
		background: #555;
		border-radius: 3px;
		transition: all 0.3s ease 0s;
		height: calc(100% - 140px) !important;
	}

	.timeline:hover .timeline-content {
		background: #f9f9f9;
	}

	.title {
		font-size: 18px;
		font-weight: 700;
		color: #c8e1fa;
		text-transform: uppercase;
		margin: 0 0 10px;
		transition: all 0.3s ease 0s;
	}

	.timeline:hover .title {
		color: #888;
	}

	.timeline-content .description {
		font-size: 14px;
		color: #fff;
		margin: 0;
		transition: all 0.3s ease 0s;
	}

	.timeline:hover .description {
		color: #888;
	}
}

@keyframes icon-load {
	0% {
		transform: rotate(-12deg);
	}

	8% {
		transform: rotate(12deg);
	}

	10%,
	28%,
	30%,
	48%,
	50%,
	68% {
		transform: rotate(24deg);
	}

	18%,
	20%,
	38%,
	40%,
	58%,
	60% {
		transform: rotate(-24deg);
	}

	100%,
	75% {
		transform: rotate(0);
	}
}

@media only screen and (max-width: 990px) {
	.main-timeline .timeline {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.main-timeline {
		.timeline-icon {
			padding-top: 0;
		}

		.border {
			margin-bottom: 10px;
		}

		.timeline-content {
			text-align: center;
		}
	}
}
