.wp-block-button {
	color: #fff;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-block-button__link {
	background-color: #32373c;
	border: none;
	border-radius: 28px;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word;

	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: inherit;
	}
}

.wp-gs .wp-block-button__link:not(.has-background) {
	background-color: var(--wp-block-core-button--color--background, var(--wp-color--primary, #32373c));
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.no-border-radius.wp-block-button__link {
	border-radius: 0 !important;
}

.is-style-outline {
	color: #32373c;

	.wp-block-button__link {
		background-color: transparent;
		border: 2px solid;
	}
}

.wp-block-buttons {
	.wp-block-button {
		display: inline-block;
		margin-right: 8px;
		margin-bottom: 8px;
	}

	&.alignright .wp-block-button {
		margin-right: none;
		margin-left: 8px;
	}

	&.aligncenter {
		text-align: center;
	}
}

.wp-block-calendar {
	text-align: center;

	tbody td,
	th {
		padding: 4px;
		border: 1px solid #e2e4e7;
	}

	tfoot td {
		border: none;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
			sans-serif;

		th {
			font-weight: 400;
			background: #edeff0;
		}
	}

	a {
		text-decoration: underline;
	}

	tfoot a {
		color: #00739c;
	}

	table {
		caption,
		tbody {
			color: #40464d;
		}
	}
}

.wp-block-categories {
	&.alignleft {
		margin-right: 2em;
	}

	&.alignright {
		margin-left: 2em;
	}
}

.wp-block-columns {
	display: flex;
	margin-bottom: 28px;
	flex-wrap: wrap;

	&.has-background {
		padding: 20px 30px;
	}
}

@media (min-width: 782px) {
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 599px) {
	.wp-block-column {
		flex-basis: 100% !important;
	}
}

@media (min-width: 600px) and (max-width: 781px) {
	.wp-block-column {
		flex-basis: calc(50% - 16px) !important;
		flex-grow: 0;

		&:nth-child(2n) {
			margin-left: 32px;
		}
	}
}

@media (min-width: 782px) {
	.wp-block-column {
		flex-basis: 0%;
		flex-grow: 1;

		&[style] {
			flex-grow: 0;
		}

		&:not(:first-child) {
			margin-left: 32px;
		}
	}
}

.wp-block-columns {
	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

.wp-block-column {
	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		-ms-grid-row-align: center;
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
		width: 100%;
	}

	&.is-vertically-aligned-center,
	&.is-vertically-aligned-top {
		width: 100%;
	}
}

.wp-block-cover {
	position: relative;
	background-color: #000;
	background-size: cover;
	background-position: 50%;
	min-height: 430px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.wp-block-cover-image {
	position: relative;
	background-color: #000;
	background-size: cover;
	background-position: 50%;
	min-height: 430px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&.has-parallax {
		background-attachment: fixed;
	}
}

.wp-block-cover.has-parallax {
	background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
		background-attachment: scroll;
	}
}

@media (prefers-reduced-motion: reduce) {
	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
		background-attachment: scroll;
	}
}

.wp-block-cover-image.has-background-dim:before,
.wp-block-cover.has-background-dim:before {
	content: "";
	background-color: inherit;
}

.wp-block-cover-image {
	&.has-background-dim:not(.has-background-gradient):before,
	.wp-block-cover__gradient-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.wp-block-cover {
	&.has-background-dim:not(.has-background-gradient):before,
	.wp-block-cover__gradient-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.wp-block-cover-image {
	&.has-background-dim:not(.has-background-gradient):before,
	.wp-block-cover__gradient-background {
		opacity: 0.5;
	}
}

.wp-block-cover {
	&.has-background-dim:not(.has-background-gradient):before,
	.wp-block-cover__gradient-background {
		opacity: 0.5;
	}
}

.wp-block-cover-image.has-background-dim.has-background-dim-10:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-10:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-10 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-10 .wp-block-cover__gradient-background {
	opacity: 0.1;
}

.wp-block-cover-image.has-background-dim.has-background-dim-20:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-20:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-20 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-20 .wp-block-cover__gradient-background {
	opacity: 0.2;
}

.wp-block-cover-image.has-background-dim.has-background-dim-30:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-30:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-30 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-30 .wp-block-cover__gradient-background {
	opacity: 0.3;
}

.wp-block-cover-image.has-background-dim.has-background-dim-40:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-40:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-40 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-40 .wp-block-cover__gradient-background {
	opacity: 0.4;
}

.wp-block-cover-image.has-background-dim.has-background-dim-50:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-50:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-50 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-50 .wp-block-cover__gradient-background {
	opacity: 0.5;
}

.wp-block-cover-image.has-background-dim.has-background-dim-60:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-60:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-60 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-60 .wp-block-cover__gradient-background {
	opacity: 0.6;
}

.wp-block-cover-image.has-background-dim.has-background-dim-70:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-70:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-70 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-70 .wp-block-cover__gradient-background {
	opacity: 0.7;
}

.wp-block-cover-image.has-background-dim.has-background-dim-80:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-80:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-80 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-80 .wp-block-cover__gradient-background {
	opacity: 0.8;
}

.wp-block-cover-image.has-background-dim.has-background-dim-90:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-90:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-90 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-90 .wp-block-cover__gradient-background {
	opacity: 0.9;
}

.wp-block-cover-image.has-background-dim.has-background-dim-100:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim.has-background-dim-100:not(.has-background-gradient):before,
.wp-block-cover-image.has-background-dim.has-background-dim-100 .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim.has-background-dim-100 .wp-block-cover__gradient-background {
	opacity: 1;
}

.wp-block-cover-image {
	&.alignleft,
	&.alignright {
		max-width: 290px;
		width: 100%;
	}
}

.wp-block-cover {
	&.alignleft,
	&.alignright {
		max-width: 290px;
		width: 100%;
	}
}

.wp-block-cover-image:after,
.wp-block-cover:after {
	display: block;
	content: "";
	font-size: 0;
	min-height: inherit;
}

@supports (position: -webkit-sticky) or (position: sticky) {
	.wp-block-cover-image:after,
	.wp-block-cover:after {
		content: none;
	}
}

.wp-block-cover-image {
	&.aligncenter,
	&.alignleft,
	&.alignright {
		display: flex;
	}
}

.wp-block-cover {
	&.aligncenter,
	&.alignleft,
	&.alignright {
		display: flex;
	}
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
	width: calc(100% - 70px);
	z-index: 1;
	color: #f8f9f9;
}

.wp-block-cover-image {
	.wp-block-subhead:not(.has-text-color),
	h1:not(.has-text-color),
	h2:not(.has-text-color),
	h3:not(.has-text-color),
	h4:not(.has-text-color),
	h5:not(.has-text-color),
	h6:not(.has-text-color),
	p:not(.has-text-color) {
		color: inherit;
	}
}

.wp-block-cover {
	.wp-block-subhead:not(.has-text-color),
	h1:not(.has-text-color),
	h2:not(.has-text-color),
	h3:not(.has-text-color),
	h4:not(.has-text-color),
	h5:not(.has-text-color),
	h6:not(.has-text-color),
	p:not(.has-text-color) {
		color: inherit;
	}
}

.wp-block-cover__video-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
}

.wp-block-cover-image-text,
.wp-block-cover-text,
section.wp-block-cover-image h2 {
	color: #fff;
}

.wp-block-cover-image-text a {
	color: #fff;

	&:active,
	&:focus,
	&:hover {
		color: #fff;
	}
}

.wp-block-cover-text a {
	color: #fff;

	&:active,
	&:focus,
	&:hover {
		color: #fff;
	}
}

section.wp-block-cover-image h2 a {
	color: #fff;

	&:active,
	&:focus,
	&:hover {
		color: #fff;
	}
}

.wp-block-cover-image {
	.wp-block-cover {
		&.has-left-content {
			justify-content: flex-start;
		}

		&.has-right-content {
			justify-content: flex-end;
		}
	}

	&.has-left-content .wp-block-cover-image-text {
		margin-left: 0;
		text-align: left;
	}
}

.wp-block-cover.has-left-content .wp-block-cover-text,
section.wp-block-cover-image.has-left-content > h2 {
	margin-left: 0;
	text-align: left;
}

.wp-block-cover-image.has-right-content .wp-block-cover-image-text,
.wp-block-cover.has-right-content .wp-block-cover-text,
section.wp-block-cover-image.has-right-content > h2 {
	margin-right: 0;
	text-align: right;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image > h2 {
	font-size: 2em;
	line-height: 1.25;
	z-index: 1;
	margin-bottom: 0;
	max-width: 580px;
	padding: 14px;
	text-align: center;
}

.block-editor-block-list__block[data-type="core/embed"] {
	&[data-align="left"],
	&[data-align="right"] {
		max-width: 360px;
		width: 100%;
	}
}

.wp-block-embed {
	&.alignleft,
	&.alignright {
		max-width: 360px;
		width: 100%;
	}

	margin-bottom: 1em;

	figcaption {
		margin-top: 0.5em;
		margin-bottom: 1em;
	}
}

.wp-embed-responsive .wp-block-embed {
	&.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
	&.wp-embed-aspect-1-2 .wp-block-embed__wrapper,
	&.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
	&.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
	&.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
	&.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
	&.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
		position: relative;
	}

	&.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before,
	&.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before,
	&.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before,
	&.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before,
	&.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before,
	&.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before,
	&.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
		content: "";
		display: block;
		padding-top: 50%;
	}

	&.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,
	&.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe,
	&.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,
	&.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,
	&.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
	&.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
		iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:before {
			padding-top: 42.85%;
		}
	}

	&.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
		padding-top: 50%;
	}

	&.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
		padding-top: 56.25%;
	}

	&.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
		padding-top: 75%;
	}

	&.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
		padding-top: 100%;
	}

	&.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before {
		padding-top: 177.78%;
	}

	&.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
		padding-top: 200%;
	}
}

.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

.fw-container {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

.fw-container-fluid {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

.fw-row {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

.dl-horizontal dd {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

.clearfix:after,
.fw-container:after,
.fw-container-fluid:after,
.fw-row:after,
.dl-horizontal dd:after {
	clear: both;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {
	&:before {
		content: " ";
		display: table;
	}

	&:after {
		content: " ";
		display: table;
		clear: both;
	}

	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

.transform3d {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.flex-v-align {
	vertical-align: middle;
	width: 100%;
	min-height: 100%;
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin: 0;
}

.flex-direction-reverse {
	flex-direction: row-reverse;
}

.fw-section-fluid {
	width: calc(100% + 140px);
	margin: 0 -70px;
	padding: 0 45px;
}

@media only screen and (max-width: 991px) {
	.fw-section-fluid {
		width: calc(100% + 80px);
		margin: 0 -40px;
		padding: 0 25px;
	}
}
